.single-contact-info {
    padding: 27px;
    border: 1px solid rgba($color: $background-dark-2, $alpha: .2);
    min-height: 225px;

    @include respond('tab') {
        margin-bottom: 20px;
        min-height: 250px;
    }

    img {
        margin-bottom: 20px;
    }
}