footer.theme-2 {
    height: 210px;

    @include respond('desktop') {
        height: 200px;
    }
}

.push {
    height: 61px;
}

.footer-nav-section {
    background-color: $footer-bg;

    @include respond('phone') {
        text-align: center;
    }

    .footer-brand {
        margin-bottom: 25px;
    }

    h4 {
        color: $white;
        margin-bottom: 30px;
    }

    .helpline h4 {
        margin-bottom: 15px;

        span {
            color: $theme-color;
            display: inline-block;

            // &:hover {
            //     color: $theme-color;
            //     box-shadow: 0 10px 20px rgba(0,0,0,0.4);
            //     transform: scale(1.3) rotate(5deg);
            // }
        }
    }

    .footer-navigation {
        display: flex;

        ul {
            flex-basis: 50%;

            a {
                transition: all .1s;
                display: inline-block;

                &:hover {
                    color: $theme-color;
                    // box-shadow: 0 10px 20px rgba(0,0,0,0.4);
                    // transform: scale(1.2) rotate(5deg);
                }
            }
        }
    }

    .app-download-box {
        display: flex;

        @include respond('tab') {
            justify-content: center;
            margin-top: 20px;
        }

        a {
            display: inline-block;
            margin-bottom: 30px;
            border: 1px solid $white;
            border-radius: 3px;

            &:first-child {
                margin-right: 5px;
            }
        }
    }

    .cta-button {

        a {
            margin-bottom: 10px;
            display: block;
            width: 100%;
            text-align: center;
            border: 1px solid $white;
        }
    }

    a, p {
        color: $white;
    }

    p {
        word-break: break-all;
    }
}

.copyright-section {
    background-color: $copyright-bg;
    color: $white;
    padding: 15px 0;

    @include respond('tab') {
        text-align: center;
    }

    p {
        margin: 0;
    }

    p, a {
        color: $white;
        padding: 5px;
    }
}

.social-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @include respond('tab') {
        justify-content: center;
        margin-top: 20px;
    }

    a {
        padding: 5px 12px;
        transition: all .1s;
        display: inline-block;

        // &:hover {
        //     box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        //     transform: scale(1.2) rotate(5deg);
        // }

        &.facebook:hover {
            color: $facebook;
        }

        &.twitter:hover {
            color: $twitter;
        }

        &.instagram:hover {
            color: $instagram;
        }

        &.google-p:hover {
            color: $google-plus;
        }

        &.linkedin:hover {
            color: $linkedin;
        }

        &.pinterest:hover {
            color: $pinterest;
        }
    }
}

.footer-nav-section.theme-2 {
    padding: 50px 0;

    @include respond('tab') {
        text-align: center;
    }

    .social-nav {
        justify-content: center;
    }

    .app-download-box a {
        margin-bottom: 0;
    }

    .footer-brand {
        margin: 0;
    }
}

.copyright-section.theme-2 {

    a:hover {
        color: $theme-color;
    }
}